.behemoth-table-container {
    margin-right: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid rgb(252, 252, 252);
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color:inherit;
  }
  