.cell-selector-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.cell {
	position: relative;
	padding: 9px;
	border: 1px solid #ccc;
	cursor: pointer;
	width: 158px;
	background: inherit;
	color: inherit;
	text-align: left;
  transition: filter 300ms;
}

.cell:hover {
	filter: brightness(1.2);
	background-color: #4f4a4a;
}

.cell.selected {
	background-color: #499451fa;
}

.minus-button {
  /* Styles for the minus button */
  margin-left: 5px; /* Adjust as needed */
  background-color: #dc3545;
  color: #fff;
}