/* CellSelector.css */
.cell-selector-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-selector-container {
  background-color: #0c0c0c;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.cell {
	position: relative;
	padding: 9px;
	border: 1px solid #ccc;
	cursor: pointer;
	width: 158px;
	background: inherit;
	color: inherit;
	text-align: left;
}

.cell.selected {
  background-color: #44a14e;
}

.minus-button {
  /* Styles for the minus button */
  margin-left: 5px; /* Adjust as needed */
  background-color: #dc3545;
  color: #fff;
}