.damage-table-container {
	max-width: calc(100vw - 40px);
	overflow: auto;
	margin-right: 19px;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid rgb(250, 248, 248);
  padding: 8px;
  text-align: center;
}

th {
  background-color: inherit;
}

.yellow-text {
  color: yellow;
}

.select-wrapper {
	width: 100%;
	padding: 8px;
	border: 1px solid #fff;
	font-size: 16px;
	background-color: #262323;
	color: #fff;
	text-align: center;
}

.select-wrapper:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* You can add more styles as needed */

