.App {
	display: grid;
	grid-template-columns: 33pc 62pc;
	color: white;
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: scroll;
  background-color: #2c2a2a;
}

.input-form {
  grid-column: 1 / 2; /* Start at column 1, end at column 2 */
}