.App {
	display: grid;
	grid-template-columns: 0.4fr 1fr;
	gap: 20px;
	background-color: black;
	color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
}


.left-container {
  grid-column: 1 / 2; /* Start at column 1, end at column 2 */
}

.right-container {
  grid-column: 2 / 3; /* Start at column 2, end at column 3 */
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* Two rows of equal height */
}

.right-top {
  grid-row: 1 / 2; /* Start at row 1, end at row 2 */
}

.right-bottom {
  grid-row: 2 / 3; /* Start at row 2, end at row 3 */
}
